


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f4f4f4;
}

.social-icons a {
    margin-left: 15px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav-icons a {
    margin-left: 15px;
}

.nav-icons img {
    width: 24px;
    height: 24px;
}

.customer-support {
    background-color: #ffcc4d;
    text-align: center;
    padding: 10px 0;
}

.customer-support p {
    margin: 0;
    color: #0033cc;
    font-weight: bold;
}

main {
    padding: 20px;
}

.contact-info,
.newsletter {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer ul li {
    margin: 5px 15px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}



.rr{
    margin-top: 5px;
}
ol li{
    font-size: 20px;
    padding: 7px;
    margin-left: 10px;
}
h1{
    text-align: center;
    margin-top: 10px;
}